doctype
html
   head
      meta(chartset='utf-8')
      title= title
   body(style={background: '#fff'})
   hr
   #wrapper(style={ display: 'grid'})
    a(href="products/graphic")= 'Graphic Card'
    a(href='products/hdmi')= 'HDMI Cable'
    a(href='products/ssd')= 'SSD Drive'
   
    h1= message