doctype
head
    meta(chartset='utf-8')
    title= title
body(style={display:'grid', 'grid-template-columns':'1fr 1fr',background: '#fff'})
    #wrapper(style={'background-color':'red'})
        form( action="/save", method='POST')
            h3='Name : '
                input(type="text" value='name' name='name', required)
            h3='Surname : '
                input(type="text" value='surname' name='surname', required)
            h3='Personal Number : '
                input(type='number'  name='personalNumber', required)
            h3='Fathers Name : '
                input(type="text", name='fatherName', )
            h3='Birthday Date : '
                input(type="date" name='bday', )
            button(type='submit')='Submit'
    #car(style={'background-color': 'gray'})
        form(action="/savecar", method='POST')
            h3 Manufacterer: 
                input(type="text", name='manufacter')
            h3 Model: 
                input(type="text", name='model')
            h3 Vin Code:
                input(type="text", name='vin', required)
            h3 State Number:
                input(type="text", name='number', required)
            h3 Color:
                input(type='text', name='color')
                button(type='submit')='Add Car' 
                h1= message
    #search
        form(action='/searchName/', method='GET')
            h3='Search User By Name: '
                input(type="text" name='searchName')
                button(type='submit')='Search'
        form(action='/searchPersonal', method='GET')
            h3='Search User By Personal : '
                input(type='number', name='searchPersonal')
                button(type='submit')='Search'

    //-  a(href="/")='Go Back'
    //-         <br>
    //-             a(href="/searchPage")='Search Page'

            //-  a(href="/cars")='Go to add Cars'
            //- <br>
            //- a(href="/searchPage")='Search Page'
            //- <br>
            //- a(href='/people')='People'